main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvasHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.showMeButton {
  margin-top: 1rem;
}
